[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-admin = "*"
flask-bootstrap = "*"
flask-cache = "*"
flask-cors = "*"
flask-flatpages = "*"
flask-gravatar = "*"
flask-login = "*"
flask-mail = "*"
flask-pymongo = "*"
flask-restless = "*"
flask-sqlalchemy = "*"
flask-themes = "*"
flask-uploads = "*"
flask-wtf = "*"
psycopg2-binary = "*"
flask-migrate = "*"
email-validator = "*"
dotenv = "*"
python-magic = "*"
pyclamd = "*"
weasyprint = "*"

[dev-packages]

[requires]
python_version = "3.9"
