{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Gerenciar Programação - Eventum{% endblock %}

{% block main_content %}
    <div class="page-header">
        <h1>Gerenciar Programação</h1>
        <h3>Evento: {{ event.title }}</h3>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h4>Adicionar Nova Atividade</h4>
            <p><strong>Período do Evento:</strong> {{ event.start_date.strftime('%d/%m/%Y %H:%M') }} até {{ event.end_date.strftime('%d/%m/%Y %H:%M') }}</p>
            {{ wtf.quick_form(form, novalidate=True) }}
        </div>
        <div class="col-md-8">
            <h4>Programação Atual</h4>
            {% if activities %}
                <ul class="list-group">
                {% for act in activities %}
                    <li class="list-group-item">
                        
                        <div class="pull-right" style="margin-left: 15px;">
                            <a href="{{ url_for('edit_activity', activity_id=act.id) }}" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span> Editar
                            </a>
                            
                            <form action="{{ url_for('delete_activity', activity_id=act.id) }}" method="POST" style="display: inline; margin-left: 5px;">
                                {{ delete_form.hidden_tag() }}
                                <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Tem certeza que deseja remover esta atividade?');">
                                    <span class="glyphicon glyphicon-trash"></span> Remover
                                </button>
                            </form>
                        </div>
                        <h5 class="list-group-item-heading"><strong>{{ act.title }}</strong></h5>
                        <p class="list-group-item-text">
                            <strong>Data e Horário:</strong> {{ act.start_time.strftime('%d/%m/%Y %H:%M') }} - {{ act.end_time.strftime('%H:%M') }}<br>
                            <strong>Local:</strong> {{ act.location }}
                        </p>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Nenhuma atividade cadastrada para este evento ainda.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}